{#
<style>
  .sectionmenu     { font-size:small;margin-top:120px;text-alignment:center; }
  .sectionmenu div a   { color:inherit; }
  .sectionmenu div { padding-bottom:10px; }
  .sectionmenu_img { width:90%; margin:auto;}
</style>
<div class='sectionmenu'>
  <div><strong><a href='http://seeds.ca/donate'>Make a Donation</strong></a></div>
  <div><strong><a href='http://seeds.ca/membership'>Membership</strong></a></div>
  <div>&nbsp</div>
  
  
  <image src='http://seeds.ca/sites/all/themes/seeds2014bootstrap/seeds2014/seeds2014img/01_blue.png' class='sectionmenu_img'/>
  <div><strong>Seed and Food Biodiversity</strong></div>
  <div><a href='http://seeds.ca/library'>Seed Library</a></div>
  <div><a href='http://seeds.ca/sources'>Canadian Seed Catalogue Index</a></div>
  <div><a href='http://seeds.ca/seed-directory'>Member Seed Directory</a></div>
  <div>&nbsp</div>

  
  <image src='http://seeds.ca/sites/all/themes/seeds2014bootstrap/seeds2014/seeds2014img/01_yellow.png' class='sectionmenu_img'/>
  <div><strong>Pollination Sustainability</strong></div>
  <div><a href='http://seeds.ca/pollination'>Pollinators</a></div>
  <div>&nbsp</div>

  
  <image src='http://seeds.ca/sites/all/themes/seeds2014bootstrap/seeds2014/seeds2014img/01_brown.png' class='sectionmenu_img'/>
  <div><strong>Organic Seed Production</strong></div>
  <div><a href='http://seeds.ca/organic-seeds'>Vegetable Seed Producers' Network</a></div>
  <div>&nbsp</div>


  <image src='http://seeds.ca/sites/all/themes/seeds2014bootstrap/seeds2014/seeds2014img/01_magenta.png' class='sectionmenu_img'/>
  <div><strong>Seed and Plant Heritage</strong></div>
  <div><a href='http://seeds.ca/heritage'>Classic Canadian Seed Catalogues</a></div>
  
</div>
#}
<style>
.sectionmenu_imgX { margin-left:-10px;margin-right:-10px;display:inline-block; }
.sectionmenu_imgcol { padding:0px 4px; }
</style>

{% if( langCode=='en') %}
    {% set blueLink   = '//seeds.ca/diversity' %}
    {% set yellowLink = '//seeds.ca/pollination' %}
    {% set brownLink  = '//seeds.ca/organic-seeds' %}
    {% set magentaLink = '//seeds.ca/heritage' %}
{% else %}
    {% set blueLink   = '//semences.ca/diversite' %}
    {% set yellowLink = '//semences.ca/pollinisation' %}
    {% set brownLink  = '//semences.ca/semences-biologiques' %}
    {% set magentaLink = '//semences.ca/patrimoine' %}
{% endif %}

{% set imageDir = base_path ~ 'sites/all/themes/seedbreeze2017/images/' %}

<div class='visible-sm-block visible-md-block visible-lg-block' 
     style='width:50%;margin-left:auto;margin-right:0px;'>
  <div class='row'>
    <div class='col-sm-3 sectionmenu_imgcol'><a href='{{blueLink}}'><image src='{{imageDir}}01_blue.png' class='sectionmenu_img'/></a></div>
    <div class='col-sm-3 sectionmenu_imgcol'><a href='{{yellowLink}}'><image src='{{imageDir}}01_yellow.png' class='sectionmenu_img'/></a></div>
    <div class='col-sm-3 sectionmenu_imgcol'><a href='{{brownLink}}'><image src='{{imageDir}}01_brown.png' class='sectionmenu_img'/></a></div>
    <div class='col-sm-3 sectionmenu_imgcol'><a href='{{magentaLink}}'><image src='{{imageDir}}01_magenta.png' class='sectionmenu_img'/></a></div>
  </div>
</div>
<div class='visible-xs-block' style='width:100%'>
  <div class='row'>
    <div class='col-xs-3 sectionmenu_imgcol'><a href='{{blueLink}}'><image src='{{imageDir}}01_blue.png' class='sectionmenu_img'/></a></div>
    <div class='col-xs-3 sectionmenu_imgcol'><a href='{{yellowLink}}'><image src='{{imageDir}}01_yellow.png' class='sectionmenu_img'/></a></div>
    <div class='col-xs-3 sectionmenu_imgcol'><a href='{{brownLink}}'><image src='{{imageDir}}01_brown.png' class='sectionmenu_img'/></a></div>
    <div class='col-xs-3 sectionmenu_imgcol'><a href='{{magentaLink}}'><image src='{{imageDir}}01_magenta.png' class='sectionmenu_img'/></a></div>
  </div>
</div>
